/* MAIN  */
* {
    font-family: 'Source Sans Pro', sans-serif;
}

img {
    border-radius: 20%;
}

img:hover {
    opacity: 0.9;
}

/* NAV BAR */

nav {
    align-items: center;
    color: #3aafa9;
}

nav ul {
    font-weight: 600;
}

nav ul li a {
    color: #98ada0;
}

nav ul li a:hover {
    color: #fff;
    background: #98ada0;
    border-radius: 10%;
}


nav ul li a:focus {
    color: #fff;
    background: #98ada0;
    border-radius: 10%;
}


/* CONTENT */

h2 {
    margin: 2% 0% 2% 0%;
}

h3 {
    margin: 0% 0% 8% 0%;
}

h2, h3 {
    font-weight: 600;
   }

a {
    color:  #3a3841;;
}   

#bio-wrap {
    float: left;
}

#contact-wrap {
    float: right;
    background: #98ada0;
    padding: 10%;
    border-radius: 10%;
}

#contact-wrap li {
    font-size: 90%;
}

.content {
    color: #3a3841;
    font-weight: 300;
    padding: 1.5% 0% 3% 0%;
}






