/* MAIN  */

* {
    font-family: 'Source Sans Pro', sans-serif;
    color:  #3a3841;
}

img {
    border-radius: 20%;
}

img:hover {
    opacity: 0.9;
}

/* CONTAINER */

.container-fluid {
    padding: 0;
}

/* NAV BAR */

a {
    color:  #fff;
}   

a:hover {
    font-weight: 400;
}

nav {
    background: #3a3841;
    align-items: center;
}

nav ul li a {
    font-weight: 400;
    font-size: 140%;
    margin-right: 1.5rem;
}

nav ul li a:hover {
    color: #3a3841;
    background: #fff;
    border-radius: 10%;
    opacity: 0.8;
}


nav ul li a:focus {
    color: #3a3841;
    background: #fff;
    border-radius: 10%;
    opacity: 0.8;
}


/* CONTENT */

header h2 {
    font-size: 300%;
    text-align: center;
    margin: 2%;
}

h2 {
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

p {
    margin: 0 auto;
    padding: 2%;
}


#bio-wrap, #bio3-wrap {
    text-align: left;
    padding-right: 8%;
}


#bio2-wrap {
    text-align: right;
    padding-left: 8%;
}


.content {
    color: #3a3841;
    font-weight: 300;
}

/* FOOTER */

#footer {
    background: #3a3841;
    opacity: 0.3;
}

#footer a {
    margin: 0 auto;
    font-weight: 300;
    font-size: 100%;
}






